## Movies.csv file stored in Cassandra

It will be read the dataset "Movies" and uses ML Libraries and some SQL queries

In [1]:
sc

In [2]:
# sc master - running locally
sc.master

'local[*]'

In [3]:
# Import regex module
import re
from operator import add

In [11]:
import warnings
warnings.filterwarnings("ignore")

In [8]:
#pip install pandas

In [7]:
#pip install matplotlib

In [41]:
# Create spark session
sc = spark.sparkContext

#path
path = "/user3/Movies.csv"
file_path = 'file://///home/hduser/Downloads/Movies_from_cassandra.csv'
Movies = spark.read.csv(file_path)
     
Movies.show(5)

+--------------------+
|                 _c0|
+--------------------+
|production_budget...|
|    17|175|adventure|
|        31|17|action|
|      16|224|musical|
|     13|12|adventure|
+--------------------+
only showing top 5 rows

In [42]:
from pyspark.sql import SparkSession

In [43]:
Movies = spark.read.csv('file://///home//hduser//Downloads/Movies_from_cassandra.csv', inferSchema=True, header=True)
Movies.show()

+----------------------------------------------+
|production_budget|worldwide_gross_income|genre|
+----------------------------------------------+
|                              17|175|adventure|
|                                  31|17|action|
|                                16|224|musical|
|                               13|12|adventure|
|                                  11|14|action|
|                                   1|16|action|
|                                 19|167|action|
|                               8|124|adventure|
|                               52|18|adventure|
|                              221|14|adventure|
|                                2|17|adventure|
|                                  45|13|action|
|                              176|17|adventure|
|                                  32|19|action|
|                              172|19|adventure|
|                               37|16|adventure|
|                               9|124|adventure|
|                              230|16|adventure|
|                              14|230|adventure|
|                                 180|18|action|
+----------------------------------------------+
only showing top 20 rows

In [44]:
#Type of columns
Movies.printSchema()

root
 |-- production_budget|worldwide_gross_income|genre: string (nullable = true)

In [25]:
from pyspark.sql import SparkSession
#from pyspark.sql import row
from pyspark.sql import functions

In [47]:
def parseInput(line):
    fields = line.split('|')
    return Row(production_budget = int(fields[0]), worldwide_gross_income =int(fields[2]), genre = fields[3]) 

#if _name_ == "_main_":

In [35]:
spark = SparkSession.builder.\
appName("CassandraExample").\
config("spark.cassandra.connection.host", "127.0.0.1").\
getOrCreate()

In [40]:
#Creating RDD on a raw text file
lines = spark.sparkContext.textFile("file://///home/hduser/Downloads/Movies_from_cassandra.csv")

In [37]:
#Convert it to a RDD of Row objects
users = lines.map(parseInput)

In [38]:
usersDataset = spark.createDataframe(users)

AttributeError: 'SparkSession' object has no attribute 'createDataframe'

In [11]:
#pip install pyspark[sql]

In [16]:
#pip install bokeh

In [6]:
from pyspark.sql import SparkSession

In [7]:
Movies = spark.read.csv('file://///home//hduser//Downloads/Movies_from_cassandra.csv', inferSchema=True, header=True)
Movies.show()

+----------------------------------------------+
|production_budget|worldwide_gross_income|genre|
+----------------------------------------------+
|                              17|175|adventure|
|                                  31|17|action|
|                                16|224|musical|
|                               13|12|adventure|
|                                  11|14|action|
|                                   1|16|action|
|                                 19|167|action|
|                               8|124|adventure|
|                               52|18|adventure|
|                              221|14|adventure|
|                                2|17|adventure|
|                                  45|13|action|
|                              176|17|adventure|
|                                  32|19|action|
|                              172|19|adventure|
|                               37|16|adventure|
|                               9|124|adventure|
|                              230|16|adventure|
|                              14|230|adventure|
|                                 180|18|action|
+----------------------------------------------+
only showing top 20 rows

In [8]:
#Type of columns
Movies.printSchema()

root
 |-- production_budget|worldwide_gross_income|genre: string (nullable = true)

In [10]:
Movies.groupby('genre').count().show()

AnalysisException: cannot resolve 'genre' given input columns: [production_budget|worldwide_gross_income|genre];
'Aggregate ['genre], ['genre, count(1) AS count#53L]
+- Relation [production_budget|worldwide_gross_income|genre#40] csv

**Check specific columns from the dataframe**

In [37]:
#Check columns "production_budget, worldwide_gross_income, genre
Movies.select('production_budget').show(5)

AnalysisException: cannot resolve 'production_budget' given input columns: [production_budget|worldwide_gross_income|genre];
'Project ['production_budget]
+- Relation [production_budget|worldwide_gross_income|genre#88] csv

In [ ]:
import numpy as np
import pandas as pd

# Enable Arrow-based columnar data transfers
spark.conf.set("spark.sql.execution.arrow.pyspark.enabled", "true")

# Generate a Pandas DataFrame
pdf = pd.DataFrame(np.random.rand(100, 3))

# Create a Spark DataFrame from a Pandas DataFrame using Arrow
df = spark.createDataFrame(pdf)

# Convert the Spark DataFrame back to a Pandas DataFrame using Arrow
result_pdf = df.select("*").toPandas()

print("Pandas DataFrame result statistics:\n%s\n" % str(result_pdf.describe()))

In [30]:
import numpy as np
import pandas as pd

# Enable Arrow-based columnar data transfers
#spark.conf.set("spark.sql.execution.arrow.pyspark.enabled", "true")

# Generate a Pandas DataFrame
#Movies = pd.DataFrame(np.random.rand(100, 3))

# Create a Spark DataFrame from a Pandas DataFrame using Arrow
df = spark.createDataFrame(Movies)

# Convert the Spark DataFrame back to a Pandas DataFrame using Arrow
#result_Movies = df.select("*").toPandas()

#rint("Pandas DataFrame result statistics:\n%s\n" % str(result_pdf.describe()))

AttributeError: 'DataFrame' object has no attribute 'iteritems'